.widget {
  display: inline-flex;
  padding: 100px 88px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #fff;
}
.widget p {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.change-color {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.change-color:hover {
  background: #6c8cff;
}
